@import "tailwindcss";

.logo {
  display: block;
  width: 100%;
  max-width: 250px; 
  height: auto;
  padding-top: 3vh;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eff6ff;
}